@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #fbfaf6;
}

nav{
    height: 80px;
    width: 100%;
    background-color: #fbfaf6;
}
nav li{
    list-style: none;
    color: rgb(12, 12, 12);
    font-family: "Lato", sans-serif;
    cursor: pointer;
    font-size: 16px;
    margin: 30px 30px;
    float: right;
}
nav button{
    height: 44px;
    width: 110px;
    background-color: rgb(0, 32, 53);
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 30px;
    float: right;
}

.brand{
    height: 80px;
    width: auto;
    border-radius: 30px;
    cursor: pointer;
    float: left;
}

.cont-1{
    height: auto;
    width: 100%;
}

.cont-1 h1{
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    color: rgb(0, 41, 94);
    justify-self: center;
    margin-top: 100px;
    text-align: center;
}
.cont-1 h3{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: rgb(0, 14, 53);
    justify-self: center;
    text-align: center;
}

.btn-1{
    height: 48px;
    width: 170px;
    background-color: rgb(0, 32, 53);
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    margin: 40px 30px;
    display: flex;
    justify-self: center;
    padding: 13px 21px;
}

.img-1{
    height: auto;
    width: 100%;
    margin-top: 100px;
}

.ico-1{
    height: auto;
    width: 40px;
    margin: 20px 20px;
    float: left;
    display: none;
}

#nav{
    height: 100%;
    width: 100%;
    background-color: #fbfaf6;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cont-2{
    background-color: #ce5922;
    height: auto;
    width: 100%;
    border-radius: 20px;
}
.cont-2 h1{
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    justify-self: center;
    text-align: center;
    margin-top: 100px;
    padding-top: 80px;
}
.cont-2 p{
    font-family: "Lato", sans-serif;
    font-size: 21px;
    font-weight: 300;
    width: 30%;
    color: rgb(241, 241, 241);
    justify-self: center;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 50px;
}

.cont-3{
    height: 600px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.ico-2{
    height: 70px;
    width: auto;
    transform: rotate(180deg);
    margin: 80px 4px;
    float: right;
}

.img-2{
    height: 500px;
    width: auto;
    border-radius: 50%;
    margin: 50px 10%;
    float: left;
}
.cont-3 p{
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 500;
    width: 30%;
    color: rgb(0, 14, 53);
    justify-self: center;
    text-align: center;
    margin: 150px 10%;
    padding-left: -50%;
    float: right;
}

.footer{
    background-color: rgb(0, 32, 53);
    height: 400px;
    width: 100%;
}
.footer p{
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 20px 80px;
    padding-top: 100px;
}

.footer img{
    height: auto;
    width: 30px;
    cursor: pointer;
    padding-top: 70px;
    float: right;
    margin-right: 50px;
}

.footer h2{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    padding-top: 80px;
}
.footer h3{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    margin-left: -110px;
    margin-top: 10px;
}
.footer h4{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    margin-left: -140px;
    margin-top: 10px;
}

button{
    transition: all .6s;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.966);
    color: rgb(0, 14, 53);
}

.cont-4{
    height: auto;
    width: 100%;
    margin: 0 0;
}

.cont-4 h1{
    font-family: "Poppins", sans-serif;
    color: rgb(39, 39, 39);
    font-size: 300%;
    font-weight: 400;
    cursor: pointer;
    margin: 40px 120px;
}


.template-card{
    height: auto;
    width: 80%;
    margin: 60px 10%;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0px 2px 7px 0px gray;
}

a{
    text-decoration: none;
}

.template-card img{
    height: auto;
    width: 47%;
    border-radius: 0px;
    transition: all .5s;
    margin: 10px 20px;
    box-shadow: 0 2px 4px 0 gray;
    cursor: pointer;
}
.template-card img:hover{
    filter: brightness(0.5);
}
.template-card h2{
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    color: rgb(27, 27, 27);
    font-weight: 500;
    margin: 10px 40px;
    margin-top: 100px;
    width: 70%;
    padding-top: 20px;
}
.template-card p{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: rgb(27, 27, 27);
    width: 400px;
    margin: 10px 40px;
    width: 70%;
    padding-bottom: 40px;
}
.template-card button{
    height: 50px;
    width: 170px;
    background-color: rgb(0, 32, 53);
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    float: right;
    margin: -80px 40px;
    transition: all .6s;
}
.template-card button:hover{
    color: rgb(0, 32, 53);
    background-color: rgb(255, 255, 255);
}

.cont-4 li{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: rgb(24, 24, 24);
    float: right;
    margin-right: 20px;
}

.cont-4 button{
    height: 40px;
    width: auto;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    background-color: transparent;
    color: rgb(22, 22, 22);
    border: 1px solid rgb(0, 14, 53);
    font-family: "Poppins", sans-serif;
    float: right;
    margin: auto 10px;
    border-radius: 50px;
    padding-left: 10px;
    padding: 0px 10px;
    transition: all .6s;
}
.cont-4 button:hover{
    background-color: rgb(214, 214, 214);
}

#ecommerce{
    display: none;
}
#social{
    display: none;
}











 /* responsive */


@media screen and (max-width: 900px){
    nav li{
        display: none;
    }
    nav button{
        display: none;
    }

    .ico-1{
        display: flex;
    }

    #nav img{
        height: 40px;
        width: 40px;
    }
    #nav li{
        list-style: none;
        color: rgb(12, 12, 12);
        font-family: "Lato", sans-serif;
        cursor: pointer;
        font-size: 16px;
        margin: 10px 30px;
    }
    #nav button{
        height: 44px;
        width: 110px;
        background-color: rgb(0, 32, 53);
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 400;
        border: 0;
        border-radius: 8px;
        cursor: pointer;
        margin: 10px 30px;
    }

    .cont-3{
        height: auto;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: grid;
        justify-content: center;
    }
    .cont-3 p{
        font-family: "Montserrat", sans-serif;
        font-size: 21px;
        font-weight: 500;
        width: 50%;
        color: rgb(0, 14, 53);
        justify-self: center;
        text-align: center;
        margin: 0px auto;
        padding-bottom: 50px;
    }

    .ico-2{
        display: none;
    }

    .cont-4 h1{
        font-size: 200%;
        margin: 90px 60px;
    }

    .cont-2 p{
        width: 90%;
    }

    .template-card h2{
        font-size: 28px;
        margin: 10px 20px;
    }
    .template-card p{
        font-size: 17px;
        width: 56%;
    }
    .template-card button{
        height: 40px;
        width: 130px;
        border-radius: 4px;
        font-size: 14px;
    }
    .template-card img{
        height: auto;
        width: 90%;
        border-radius: 0px;
        transition: all .5s;
        margin: 10px 25px;
        box-shadow: 0 2px 4px 0 gray;
        cursor: pointer;
    }


    .cont-4 li{
        display: none;
    }
    .cont-4 button{
        height: 30px;
        width: auto;
        font-size: 14px;
    }
}